.sidebar{
    height: 90vh;
    width: 250px;
    border-right: 1px solid #3333334f;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
li{
    height: 100%;
}
li a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #050505b7;
    transition: all 0.3s ease;
}
li a.active{
    color: black;
    font-size: 18px;
    position: relative;
    
}
li a.active::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    left: 0;
    top: 0;
    background-color: #1178a8;   
}
li a.active svg{
    color: #1178a8;
    
}
li a:hover{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding-left: 20px;
}